<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'https://ci.***REMOVED***/teams/main/pipelines/arc', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://gitHub.***REMOVED*** /pages/monsoon/arc/', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Charts', 'https://github.com/sapcc/helm-charts/blob/master/openstack/arc/templates/api-service.yaml', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/arc/blob/master/LICENSE', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboards content', 'https://gitHub.***REMOVED*** /monsoon/monasca-content/tree/master/monsoon3/arc/dashboards', target: 'blank' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'Arc API', 'https://arc.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/arc-api-overview', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Chart values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/staging/values/arc.yaml', target: 'blank' %>
  </li>
  <li class="list-header">
    eu-de-1
  </li>
  <li>
    <%= link_to 'Arc API', 'https://arc.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/arc-api-overview', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Chart values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/eu-de-1/values/arc.yaml', target: 'blank' %>
  </li>
  <li class="list-header">
    ap-au-1
  </li>
  <li>
    <%= link_to 'Arc API', 'https://arc.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/arc-api-overview', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Chart values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/ap-au-1/values/arc.yaml', target: 'blank' %>
  </li>
</ul>