<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.***REMOVED***:8080/pipelines/arc' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://gitHub.***REMOVED*** /pages/monsoon/arc/' %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/tree/master/config/openstack/arc' %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/arc/blob/master/LICENSE' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'Arc API', 'https://arc.***REMOVED***/api/v1/agents' %>
  </li>
  <li class="list-header">
    Production
  </li>
  <li>
    <%= link_to 'Arc API', 'https://arc.***REMOVED***/api/v1/agents' %>
  </li>
</ul>