<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/monsoon-dashboard' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.staging.***REMOVED***:8080/pipelines/elektra' %>
  </li>
  <li>
    <%= link_to 'Sentry', 'https://sentry.***REMOVED***/monsoon/elektra-staging/' %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/tree/master/config/openstack/elektra' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'Elektra', 'https://dashboard.***REMOVED***' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/elektra-overview' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/' %>
  </li>
  <li class="list-header">
    Production
  </li>
  <li>
    <%= link_to 'Elektra', 'https://dashboard.***REMOVED***' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/elektra-overview' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/' %>
  </li>
</ul>