<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/monsoon-dashboard', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.staging.***REMOVED***:8080/pipelines/elektra', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/tree/master/config/openstack/elektra', target: 'blank' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'Elektra', 'https://dashboard.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/elektra-overview', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Sentry', 'https://sentry.***REMOVED***/monsoon/elektra', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/', target: 'blank' %>
  </li>
  <li class="list-header">
    eu-de-1
  </li>
  <li>
    <%= link_to 'Elektra', 'https://dashboard.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/elektra-overview', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Sentry', 'https://sentry.***REMOVED***/monsoon/elektra', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/', target: 'blank' %>
  </li>
</ul>