<ul>
  <li>
    <%= link_to 'Github', 'https://github.com/sapcc/elektra', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'https://ci.***REMOVED***/teams/main/pipelines/elektra', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Charts', 'https://github.com/sapcc/helm-charts/tree/master/openstack/elektra', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'General documentation', 'https://documentation.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'License', 'https://github.com/sapcc/elektra/blob/master/apache2-license.txt', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Grafana dashboards content', 'https://gitHub.***REMOVED*** /monsoon/monasca-content/tree/master/monsoon3/elektra/dashboards', target: 'blank' %>
  </li>
</ul>
<div class="jsPopoverDetail">
  <ul class="jsPopoverDetailLinks hide">
    <li class="list-header"></li>
    <li><%= link_to 'Elektra', 'https://dashboard.+++.***REMOVED***/monsoon3', target: 'blank' %></li>
    <li><%= link_to 'Grafana dashboard', 'https://grafana.+++.***REMOVED***/dashboard/db/elektra-overview', target: 'blank' %></li>
    <li><%= link_to 'Sentry', 'https://sentry.+++.***REMOVED***/monsoon/elektra', target: 'blank' %></li>
    <li><%= link_to 'Chart Values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/+++/values/elektra.yaml', target: 'blank' %></li>
    <li><%= link_to 'Kibana', 'https://logs.+++.***REMOVED***/app/kibana#/discover?_a=(query:(query_string:(query:"elektra")))', target: 'blank' %></li>
  </ul>
  <div class="row">
    <div class="col-md-4">
      <b>Details: </b>
    </div>
    <div class="col-md-8">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="regionDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Region
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="regionDropdownMenu">
          <%= partial '/diagram/regions' %>
        </ul>
      </div>
    </div>
  </div>
</div>
