<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/monsoon-automation', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Concourse', 'https://ci.***REMOVED***/teams/main/pipelines/lyra', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/tree/master/config/openstack/lyra', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/monsoon-automation/blob/master/LICENCE', target: 'blank'  %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'Lyra', 'https://lyra.***REMOVED***/healthcheck', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Jobs Queue', 'https://lyra.***REMOVED***/que', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/lyra-overview', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Sentry', 'https://sentry.***REMOVED***/monsoon/lyra/', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/docs/automation/', target: 'blank'  %>
  </li>
  <li class="list-header">
    eu-de-1
  </li>
  <li>
    Lyra = [ <%= link_to 'link1', 'https://lyra.***REMOVED***/healthcheck', target: 'blank'  %>, <%= link_to 'link2', 'https://automation.***REMOVED***/healthcheck', target: 'blank'  %> ]
  </li>
  <li>
    <%= link_to 'Jobs Queue', 'https://lyra.***REMOVED***/que', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Grafana dashboard', 'https://grafana.***REMOVED***/dashboard/db/lyra-overview', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Sentry', 'https://sentry.***REMOVED***/monsoon/lyra', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/docs/automation/', target: 'blank'  %>
  </li>
</ul>