<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/lyra-cli', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Releases', 'https://gitHub.***REMOVED*** /monsoon/lyra-cli/releases', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'https://ci.***REMOVED***/teams/main/pipelines/lyra?groups=cli', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/lyra-cli/blob/master/LICENSE', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/docs/automation/cli/', target: 'blank' %>
  </li>
</ul>