<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/monsoon-automation', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Concourse', 'https://ci.***REMOVED***/teams/main/pipelines/lyra', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Charts', 'https://github.com/sapcc/helm-charts/tree/master/openstack/lyra/templates', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/monsoon-automation/blob/master/LICENCE', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Documentation', 'https://documentation.***REMOVED***/docs/automation/', target: 'blank'  %>
  </li>
  <li>
    <%= link_to 'Grafana dashboards content', 'https://gitHub.***REMOVED*** /monsoon/monasca-content/tree/master/monsoon3/lyra/dashboards', target: 'blank' %>
  </li>
</ul>
<div class="jsPopoverDetail">
  <ul class="jsPopoverDetailLinks hide">
    <li class="list-header"></li>
    <li>Lyra = [ <%= link_to 'link1', 'https://lyra.+++.***REMOVED***/healthcheck', target: 'blank'  %>, <%= link_to 'link2', 'https://automation.+++.***REMOVED***/healthcheck', target: 'blank'  %> ]</li>
    <li><%= link_to 'Jobs Queue', 'https://lyra.+++.***REMOVED***/que', target: 'blank'  %></li>
    <li><%= link_to 'Grafana dashboard', 'https://grafana.+++.***REMOVED***/dashboard/db/lyra-overview', target: 'blank'  %></li>
    <li><%= link_to 'Sentry', 'https://sentry.+++.***REMOVED***/monsoon/lyra', target: 'blank'  %></li>
    <li><%= link_to 'Chart Values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/+++/values/lyra.yaml', target: 'blank' %></li>
    <li><%= link_to 'Kibana', 'https://logs.+++.***REMOVED***/app/kibana#/discover?_a=(query:(query_string:(query:"lyra")))', target: 'blank' %></li>
  </ul>
  <div class="row">
    <div class="col-md-4">
      <b>Details: </b>
    </div>
    <div class="col-md-8">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="regionDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Region
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="regionDropdownMenu">
          <%= partial '/diagram/regions' %>
        </ul>
      </div>
    </div>
  </div>
</div>
