<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc-pki', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.staging.***REMOVED***:8080/pipelines/arc', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/tree/master/config/openstack/arc', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/arc-pki/blob/master/LICENSE', target: 'blank' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'PKI', 'https://arc-pki.***REMOVED***', target: 'blank' %>
  </li>
  <li class="list-header">
    eu-de-1
  </li>
  <li>
    <%= link_to 'PKI', 'https://arc-pki.***REMOVED***', target: 'blank' %>
  </li>
</ul>