<ul>
  <li>
    <%= link_to 'Github', 'https://gitHub.***REMOVED*** /monsoon/arc-pki' %>
  </li>
  <li>
    <%= link_to 'Concourse', 'http://concourse.***REMOVED***:8080/pipelines/arc' %>
  </li>
  <li>
    <%= link_to 'Kube Specs', 'https://gitHub.***REMOVED*** /monsoon/openstack-kube/tree/master/config/openstack/arc' %>
  </li>
  <li>
    <%= link_to 'License', 'https://gitHub.***REMOVED*** /monsoon/arc-pki/blob/master/LICENSE' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'PKI', 'https://arc-pki.***REMOVED***' %>
  </li>
  <li class="list-header">
    Production
  </li>
  <li>
    <%= link_to 'PKI', 'https://arc-pki.***REMOVED***' %>
  </li>
</ul>