<ul>
  <li>
    <%= link_to 'Charts', 'https://github.com/sapcc/helm-charts/tree/master/openstack/arc/templates', target: 'blank'  %>
  </li>
  <li class="list-header">
    Access points
  </li>
  <li>
    <%= link_to 'Arc Releases Beta', 'https://beta.arc.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Arc Releases Stable', 'https://stable.arc.***REMOVED***', target: 'blank' %>
  </li>
  <li>
    <%= link_to 'Arc Releases Alpha', 'https://alpha.arc.***REMOVED***', target: 'blank' %>
  </li>
  <li class="list-header">
    Staging
  </li>
  <li>
    <%= link_to 'Chart values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/staging/values/arc.yaml', target: 'blank' %>
  </li>
  <li class="list-header">
    eu-de-1
  </li>
  <li>
    <%= link_to 'Chart values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/eu-de-1/values/arc.yaml', target: 'blank' %>
  </li>
  <li class="list-header">
    ap-au-1
  </li>
  <li>
    <%= link_to 'Chart values', 'https://gitHub.***REMOVED*** /cc/secrets/blob/master/ap-au-1/values/arc.yaml', target: 'blank' %>
  </li>
</ul>