---
description: Service discovery and configuration made easy. Distributed, highly available, and datacenter-aware.
---


<div class="container">

<h1 class="page-header">Automation Service Lyra for Devs</h1>

<div id="paper"></div>

<div id="popover_container">
  <div class="hide">
    <div id="elektra_popover_content">
      <%= partial '/diagram/elektra_popover_content' %>
    </div>
    <div id="lyra_cli_popover_content">
      <%= partial '/diagram/lyra_cli_popover_content' %>
    </div>
    <div id="lyra_popover_content">
      <%= partial '/diagram/lyra_popover_content' %>
    </div>
    <div id="arc_api_popover_content">
      <%= partial '/diagram/arc_api_popover_content' %>
    </div>
    <div id="pki_popover_content">
      <%= partial '/diagram/pki_popover_content' %>
    </div>
    <div id="broker_popover_content">
      <%= partial '/diagram/broker_popover_content' %>
    </div>
    <div id="swift_popover_content">
      <%= partial '/diagram/swift_popover_content' %>
    </div>
    <div id="reverse_proxy_popover_content">
      <%= partial '/diagram/reverse_proxy_popover_content' %>
    </div>
  </div>
</div>

</div> <!-- /container -->


<% content_for :javascripts do %>

  <%= javascript_include_tag 'lodash.min' %>
  <%= javascript_include_tag 'backbone.min' %>
  <%= javascript_include_tag 'jointjs' %>
  <%= javascript_include_tag 'diagram' %>

<% end %>
